h1{
    color: blue;
    font-size: 2em;
    font-family: "Lato", sans-serif;
}
p{
    /* J'en profite pour ajouter un commentaire sur plusieurs lignes*/
    color: brown;
    width: 50%;
}
h1, p{
    color: blue;
    color: purple;
}
.ma-classe{
    color: #663399;
    font-size: 30px;
}
#logo{
    width: 100px;
}
.ref{
    color: gray;
}
.elem1{
    font-size: 1em;
}
.elem2{
    font-size: 1.3em;
}
.elem3{
    font-size: 2em;
}
.italique{
    font-style: italic;
}
.normal{
    font-style: normal;
}
.th{
    font-weight: 100;
}
.ex{
    font-weight: 200;
}
.li:active{
    font-weight: 300;
    background-color: #C1FFD7;
}
.re{
    font-weight: 400;
}
.me{
    font-weight: 500;
}
.se{
    font-weight: 600;
}
.bo{
    font-weight: 700;
}
.ext{
    font-weight: 800;
}
.bl{
    font-weight: 900;
}
.sou{
    text-decoration: underline;
}
.bar{
    text-decoration: line-through;
}
.nor{
    text-decoration: none;
}
.gau{
    text-align: left;
}
.cen{
    text-align: center;
}
.dro{
    text-align: right;
}
.jus{
    text-align: justify;
}
body{
    background-color: rgb(202, 162, 162);
    color: white;
    font-family: sans-serif;
    margin: 0;
}
.banniere{
    padding: 100px;
    background-image: url('https://images.unsplash.com/photo-1513002749550-c59d786b8e6c?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2llbHxlbnwwfHwwfHx8MA%3D%3D');
    background-attachment: fixed;
    background-size: cover;
}
.deg{
    background: linear-gradient(90deg, #8360c3, #2ebf91);
    padding: 50px;
}
.bord1{
    border-top: 3px #EB5353 dotted;
    border-right: 3px #f9d923 double;
    border-bottom: 3px #36AE7C dashed;
    border-left: 3px #187498 solid;
    padding: 100px;
}
.bord2{
    font-size: 25px;
    background-color: skyblue;
    border-radius: 10px 30px 0px 90px;
    padding: 100px;
}
.box{
    font-size: 25px;
    background-color: skyblue;
    border-radius: 10px;
    box-shadow: 6px 6px 25px black;
    padding: 100px;
}
.texte{
    font-size: 50px;
    text-shadow: 3px 3Px 0px rgba(0, 0, 0 ,0.2);
    padding: 100px;
}
.mon-element:hover{
    background-color: #BEAEE2;
    color: white
}
h1:hover{
    color: #CDF0EA;
}
p:hover{
    color: #111111;
}
a:focus{
    background-color: #FCFFA6;
}
a:visited{
    color: black;
    display: block;
}
.marge {
    width: 350px;
    background-color: #f1c564;
    text-align: justify;
    margin:auto;
    padding: 10px;
}
.container{
    display: flex;
   /*flex-direction:column;*/
    flex-wrap: wrap;
    justify-content:flex-end;
    align-items: start;
}
.element1{
    border: 1px solid black;
    padding: 10px;
    background-color: blue;
}
.element2{
    border: 2px dotted red;
    padding: 10px;
    background-color:#8360c3;
}
.element3{
    border: 3px blue double;
    padding: 10px;
    background-color:yellow;
}
.container1{
    display:flex;
}
.element4{
    border: 1px solid blueviolet;
    padding: 30px;
    background-color: gold;
    margin: auto;
}
.element5{
    border: #F9CEEE solid 1px;
    padding: 30px;
    background-color: chocolate;
    margin: auto;
}
.element6{
    border: #2ebf91;
    padding: 30px;
    background-color: #187498;
    margin: auto;
}
.conteneur{
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-rows: 100px 100px 100px 100px 100px;
    grid-gap: 10px;
}
.une{
    grid-column-start: 1;
    grid-column-end: 4;
}
.deux{
    grid-row: 2 / 4;
}
.secret{
    display: none;
}
.elementAPositionné{
    background-color: #8360c3;
}
.elementAPositionné a{
    background-color: white;
    position: unset;
    top: 6px;
    left: 10px;
}
.container2{
   position: relative;
   height: 300px;
   width: 300px; 
}
.une{
    background-color: #cbcbcb;
    position: absolute;
    left: 0;
}
.deux{
    background-color: #cbfcb9;
    position: absolute;
    right: 70px;
    z-index: 1;
}
.trois{
    background-color: #F2A3BB;
    position: absolute;
    right: 0;
    bottom: 20px;
    z-index: 2;
}
.fixed{
    position: fixed;
    right: 0;
    top: 0;
}
.sticky{
    position: sticky;
    right: 0;
    top: 0;
}
td, th{
    border: 1px solid black;
    width: 1400px;
    height: 40px;
    padding: 15px;
}
table{
    border-collapse: collapse;
    margin: auto;
}
caption{
    caption-side: top;/* changer la position du titre du tableau*/
    padding: 40px;
}
.tableau{
    background-color: #663399;
}
fieldset{
    border-radius: 10px;
    background-color: #9549e0;
}
legend{
    border: 1px solid white;
    border-radius: 10px;
}
:required{
    background-color: #F2A4BB;
}
:focus{
    background-color: white;
}
@media screen and (max-width : 1200px) {
    /* Inserez vos propriété CSS ici, avec vos selecteur*/
    p{
        color: red;
        background-color: rgba(46, 170, 56, 0.377);
        font-size: 1.2em;
    }
    img{
        width: 50%;
        min-width: 400px;
    }
} 

/*Sur les écrans, quand la largeur de la fénêtre fait au maximun 1280px */
@media screen (max-width: 1280px) {
    
}
/* Sur tous types d'écran, quand le largeur de la fenêtre est comprise entre 1024px et 1280px */
@media all and (max-width: 1024px) and (max-width : 1280px) {
    
}
/* Sur tous types d'écran orienté verticalement */
@media all and (orientation: portrait) {
    
}