body{
    background-color: gainsboro;
    margin: 0;
}
.vert{
    background-color: rgb(32, 122, 44);
    border: 1px solid rgb(32, 122, 44);
    height: 10px;
    width: 270px;
    position: absolute;
}
.violet{
    background-color: rgb(112, 33, 177);
    border: 1px solid rgb(112, 33, 177);
    height: 10px;
    
}
.vert1{
    background-color: rgb(32, 122, 44);
    border: 1px solid rgb(32, 122, 44);
    height: 10px;
    width: 270px;
    position: absolute;
    right: 0px;
    top: 0px;
}
.logo img{
    margin-left: 100px;
    height: 80px;
    display: flex;
}
.entete{
    display: flex;
    gap: 15px;
}
header{
    display: flex;
    gap: 20px;
    position:sticky;
}
.introduction{
    padding: 18px;
}
.introduction div{
    text-align: center;
    position: absolute;
    top: 370px;
    right: 500px;
    font-family: sans-serif;
    color: white;
    font-weight:bold;
    padding: 19px;
}
.elementHome{
    font-size: 11px;
}
.titre{
    color: rgb(0, 102, 0);
    text-decoration: underline;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding: 50px;
}
.Licence{
    border: 1px rgb(177, 176, 176) solid ;
    background-color:#bdbdbd;
    padding: 10px;
    width: 500px;
}
.licence{
    border: 1px rgb(177, 176, 176) solid ;
    background-color:rgb(189, 189, 189);
    padding: 10px;
    width: 500px;
}
.semestre{
    color: rgb(68, 136, 1);
    padding: 16px;
    font-size: 16px;
    font-weight: 520;
}
.campus{
    color:rgb(112, 33, 177);
}
.bloc2{
    position: absolute;
    right: 120px;
    top: 535px;
    left: 650px;
    bottom: 300px;
}
.master{
    border: 1px rgb(177, 176, 176) solid ;
    background-color:rgb(189, 189, 189);
    padding: 10px;
    width: 240px;
}
.Master{
    border: 1px rgb(177, 176, 176) solid ;
    background-color:#bdbdbd;
    padding: 10px;
    width: 200px;
    padding: 30px;
    color: rgb(105, 175, 1);
    font-size: 16px;
    font-weight: 520;
}
.Campus{
    color:rgb(112, 33, 177);
}
.bloc3{
    position: absolute;
    right: 150px;
    top: 535px;
    left: 980px;
    bottom: 300px;
}
.doctorat{
    border: 1px rgb(177, 176, 176) solid ;
    background-color:rgb(189, 189, 189);
    padding: 10px;
    width: 240px;
}
.Doctorat{
    border: 1px rgb(177, 176, 176) solid ;
    background-color:#bdbdbd;
    padding: 10px;
    width: 200px;
    padding: 30px;
    color: rgb(105, 175, 1);
    font-size: 16px;
    font-weight: 520;
}
.CAMPUS{
    color:rgb(112, 33, 177);
}
section{
    border: 1px solid white;
    background-color: white;
    margin: 30px;
}
